* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
  justify-content: center;
}

.card {
    height: 350px;
    width: 300px;
    background-color: white;
    border-radius: 5px;
    color: black;   
    padding:30px;
    border-radius:30px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}


img{
  height: 42px;
  width:42px;
  border:1px solid #dadada;
  border-radius: 50%;
  
}

.card .top{
  display:flex;
  align-items:center;
  justify-content:space-between
}

.top button{
  display:flex;
  align-items:center;
  border:1px solid #dadada;
  padding: 4px 8px;
  font-size:14px;
  border-radius:5px;
  height:25px;
  margin-bottom:18px;
}

.bottom{
  display:flex;
  justify-content:space-between
}
.bottom button{
height:23px;
width:72px;
margin-left:63px;
margin-top:9px;
background-color:black;
color:white;
border-radius:5px;

}
.bottom p{
    font-size:10px;
  color:#8b8b8b
}

.center span{
  font-size:10px;
  color:#8b8b8b;
}

.center h3{
  font-size:17px;
  font-weight:500px;

}

.center h2{
  font-size:20px;
  margin-top:5px;
}
.sub-center {
  display:flex;
  gap:25px;
  margin-top:5px;
}
.sub-center h4{
  font-size:12px;
  font-weight: 200;  
  background-color:#dadada;
  border-radius:5px;
  padding:4px;
  
}

hr{
  margin-top: 80px;
}

.center{
  margin-top:40px;
}

